BODY, TD { FONT-FAMILY: verdana, sans-serif; FONT-SIZE: 12px; margin: 0px; padding: 0px; border-width: 0px}

A:link { COLOR: #000000; background-color: transparent; text-decoration: underline}
A:visited { COLOR: #000000; background-color: transparent; text-decoration: underline}
A:active { COLOR: #000000; background-color: transparent;  text-decoration: none }
A:hover { COLOR: #000000; background-color: transparent;  text-decoration: none }

TBODY { text-align: left }


H1 {

font-family:     verdana, sans-serif;
font-size: 14px;
font-weight: bold;

}

H2 {

font-family:     verdana, sans-serif;
font-size: 12px;
font-weight: bold;

}

H3 {

font-family:     verdana, sans-serif;
font-size: 11px;
font-weight: bold;

}

.login {

font-family : verdana, sans-serif;
font-size: 8pt;
font-weight: bold;
width: 140px;
height: 20px;

}

.loginBox {

font-family : verdana, sans-serif;
width: 140px;
height: 20px;
color: #000000;
background-color: #FFFFFF;

}

.button {
font-family : verdana, sans-serif;
font-size: 8pt;
font-weight: bold;
height: 20px;
}




TD.tableHeaderLeft {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #CCCCCC;
COLOR: #000000;
text-decoration: none;
font-weight: bold;
padding: 2px;
padding-left: 7px;
padding-right: 7px;
text-align: left;
white-space: nowrap;

}

TD.tableHeaderRight {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #CCCCCC;
COLOR: #000000;
text-decoration: none;
font-weight: bold;
padding: 2px;
padding-left: 7px;
padding-right: 7px;
text-align: right;
white-space: nowrap;

}

TD.tableHeaderCenter {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #CCCCCC;
COLOR: #000000;
text-decoration: none;
font-weight: bold;
padding: 2px;
padding-left: 7px;
padding-right: 7px;
text-align: center;
white-space: nowrap;

}


TD.tableHeaderLeftBorder {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #CCCCCC;
COLOR: #000000;
text-decoration: none;
font-weight: bold;
padding: 2px;
padding-left: 7px;
padding-right: 7px;
text-align: left;
white-space: nowrap;
border: 1px solid #000000;

}

TD.tableHeaderRightBorder {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #CCCCCC;
COLOR: #000000;
text-decoration: none;
font-weight: bold;
padding: 2px;
padding-left: 7px;
padding-right: 7px;
text-align: right;
white-space: nowrap;
border: 1px solid #000000;

}

TD.tableHeaderCenterBorder {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #CCCCCC;
COLOR: #000000;
text-decoration: none;
font-weight: bold;
padding: 2px;
padding-left: 7px;
padding-right: 7px;
text-align: center;
white-space: nowrap;
border: 1px solid #000000;

}


TD.tableContent1Left {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #EEEEEE;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
text-align: left;
white-space: nowrap;

}


TD.tableContentaLeft {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #99CCCC;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
text-align: left;
white-space: nowrap;

}

TD.tableContentbLeft {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #CCCC99;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
text-align: left;
white-space: nowrap;

}



TD.tableContent3Left {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #FFCCCC;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
text-align: left;
white-space: nowrap;

}

TD.tableContent3Right {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #FFCCCC;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
text-align: right;
white-space: nowrap;

}


TD.tableContent1LeftWrap {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #EEEEEE;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
text-align: left;

}

TD.tableContent1Center {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #EEEEEE;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
text-align: center;
white-space: nowrap;

}

TD.tableContent1Right {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #EEEEEE;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
text-align: right;
white-space: nowrap;

}

TD.tableContent2Left {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #FFFFFF;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
text-align: left;
white-space: nowrap;

}

TD.tableContent2LeftWrap {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #FFFFFF;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
text-align: left;

}

TD.tableContent2LeftWrapBlue {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #EAF0FA;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
text-align: left;

}

TD.tableContent2Center {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #FFFFFF;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
text-align: center;
white-space: nowrap;

}

TD.tableContent2Right {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #FFFFFF;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
text-align: right;
white-space: nowrap;

}

TD.tableContent2LeftSpaced {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #FFFFFF;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 3px;
padding-left: 7px;
padding-right: 7px;
padding-bottom: 1px;
margin: 0px;
text-align: left;
white-space: nowrap;

}

TD.tableContent2RightSpaced {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #FFFFFF;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 5px;
padding-left: 7px;
padding-right: 7px;
padding-bottom: 2px;
margin: 0px;
text-align: right;
white-space: nowrap;

}

TD.messageReview1 {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #EEEEEE;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
vertical-align: top;
text-align: right;
border: 1px solid #000000;


}

TD.messagePoster1 {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #EEEEEE;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
vertical-align: top;
text-align: left;
border: 1px solid #000000;

}

TD.messageContent1 {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #EEEEEE;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
vertical-align: top;
text-align: justify;
border: 1px solid #000000;

}

TD.messageReview2 {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #FFFFFF;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
vertical-align: top;
text-align: right;
border: 1px solid #000000;

}

TD.messagePoster2 {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #FFFFFF;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
vertical-align: top;
text-align: left;
border: 1px solid #000000;

}

TD.messageContent2 {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #FFFFFF;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 7px;
padding-right: 7px;
margin: 0px;
vertical-align: top;
text-align: justify;
border: 1px solid #000000;

}


.navigationtext {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #6699CC;
COLOR: #E0EBF5;
text-decoration: none;
font-weight: bold;

}

A.navigationtext:link { COLOR: #E0EBF5; background-color: #6699CC; text-decoration: none; font-weight: bold; }
A.navigationtext:visited { COLOR: #E0EBF5; background-color: #6699CC; text-decoration: none; font-weight: bold;}
A.navigationtext:active { COLOR: #FFFFFF; background-color: #6699CC; text-decoration: underline; font-weight: bold;}
A.navigationtext:hover { COLOR: #FFFFFF; background-color: #6699CC; text-decoration: underline; font-weight: bold;}



.tinytextgrey { COLOR: #333333; FONT-SIZE: 11px; background-color: #EEEEEE;}
.tinytext { COLOR: #333333; FONT-SIZE: 11px; background-color: #FFFFFF;}
.smalltextgrey { COLOR: #333333; FONT-SIZE: 12px; background-color: #EEEEEE;}
.smalltext { COLOR: #333333; FONT-SIZE: 12px; background-color: #FFFFFF;}

.pageheadertext{ COLOR: #333333; FONT-SIZE: 12px; background-color: #D6E2F5; font-weight: bold;}



.copyrighttext { COLOR: #333333; FONT-FAMILY: verdana, sans-serif; FONT-SIZE: 10px; background-color: #C4D6F1}


.copyrighttextlink {

FONT-SIZE: 10px;
COLOR: #333333;
background-color: #C4D6F1;
text-decoration: underline;

}

A.copyrighttextlink:link { COLOR: #333333; background-color: #C4D6F1; text-decoration: underline }
A.copyrighttextlink:visited { COLOR: #333333; background-color: #C4D6F1; text-decoration: underline}
A.copyrighttextlink:active { COLOR: #333333; background-color: #C4D6F1; text-decoration: none}
A.copyrighttextlink:hover { COLOR: #333333; background-color: #C4D6F1; text-decoration: none}


.sponsortext { COLOR: #000000; FONT-FAMILY: verdana, sans-serif; FONT-SIZE: 10px; background-color:#FFFFFF}
.sponsorheadingtext { COLOR: #FFFFFF; FONT-FAMILY: verdana, sans-serif; FONT-SIZE: 10px; background-color: #336699}


.sponsortextlink {

FONT-SIZE: 10px;
COLOR: #333333;
background-color: #FFFFFF;
text-decoration: underline;

}


A.sponsortextlink:link { COLOR: #333333; background-color: #FFFFFF; text-decoration: underline}
A.sponsortextlink:visited { COLOR: #333333; background-color: #FFFFFF; text-decoration: underline}
A.sponsortextlink:active { COLOR: #333333; background-color: #FFFFFF;  text-decoration: none }
A.sponsortextlink:hover { COLOR: #333333; background-color: #FFFFFF;  text-decoration: none }

.subNav {

FONT-SIZE: 11px;
background-color: #BBBBBB;
COLOR: #333333;
text-decoration: none;
font-weight: bold;
padding: 3px;
padding-left:5px;
padding-right:5px;
width: 125px;
border: 1px solid #000000;
text-align: center;

}

.subNav2 {

FONT-SIZE: 11px;
background-color: #BBBBBB;
COLOR: #333333;
text-decoration: none;
font-weight: bold;
padding: 3px;
padding-left:5px;
padding-right:5px;
width: 100px;
border: 1px solid #000000;
text-align: center;

}

.subNavLink {

FONT-SIZE: 11px;
background-color: #BBBBBB;
COLOR: #333333;
text-decoration: none;
font-weight: bold;

}

A.subNavLink:link { COLOR: #333333; background-color: #BBBBBB; text-decoration: none}
A.subNavLink:visited { COLOR: #333333; background-color: #BBBBBB; text-decoration: none}
A.subNavLink:active { COLOR: #333333; background-color: #BBBBBB;  text-decoration: none }
A.subNavLink:hover { COLOR: #FFFFFF; background-color: #BBBBBB; text-decoration: none}


.subNavLinkColor {

FONT-SIZE: 11px;
background-color: #BBBBBB;
COLOR: #333333;
text-decoration: none;
font-weight: bold;

}

A.subNavLinkColor:link { COLOR: #000000; text-decoration: none}
A.subNavLinkColor:visited { COLOR: #000000; text-decoration: none}
A.subNavLinkColor:active { COLOR: #000000; text-decoration: none }
A.subNavLinkColor:hover { COLOR: #000000; text-decoration: underline}



.input        {
             font-family:     verdana, sans-serif;
             font-size:       11px;
             line-height:     12px;
             }


.leftPanel        {

vertical-align: top;
background-color: #EEEEEE;
width: 150px;
padding-top: 10px;
padding-bottom: 5px;
padding-left: 5px;
FONT-SIZE: 11px;

             }

.leftPanelExtended        {

vertical-align: top;
background-color: #EEEEEE;
width: 200px;
padding-top: 10px;
padding-bottom: 5px;
padding-left: 5px;
FONT-SIZE: 11px;

             }

.leftPanelWhite        {

vertical-align: top;
background-color: #FFFFFF;
width: 150px;
padding-top: 10px;
padding-bottom: 1px;
padding-left: 5px;
FONT-SIZE: 11px;

             }

.mainPanel {

vertical-align: top;
background-color: #FFFFFF;
padding-top: 15px;
padding-left: 15px;
padding-right: 10px;
padding-bottom: 15px;
width: 600px;
FONT-SIZE: 12px;
text-align: justify;

}

.mainPanelScroll {

vertical-align: top;
background-color: #FFFFFF;
padding-top: 15px;
padding-left: 15px;
padding-right: 10px;
padding-bottom: 15px;
width: 100%;
FONT-SIZE: 12px;
text-align: justify;

}

.headerText {

background-color: #D6E2F5;
color: #333333;
font-family:     verdana, sans-serif;
font-size: 12px;
font-weight: bold;
border: 1px solid #6699CC;

}

.headerCell {

margin: 0px;
padding: 3px 3px 3px 3px;

}

TABLE.default {

width: 100%;
border-collapse: collapse;

}

TABLE.standard {

border-collapse: collapse;

}

TABLE.sideMenu {

background-color: #FFFFFF;
width: 160px;
border-collapse: collapse;

}

TABLE.dataTable {

border-collapse: collapse;
border: 1px solid #000000;

}

TD.dataTD {

border: 1px solid #000000;
border-bottom-width: 3px;
padding: 10px;
padding-bottom: 20px;

}

TD.headerLeft {


background-color: #D6E2F5;
color: #333333;
font-family: verdana, sans-serif;
font-size: 12px;
font-weight: bold;
border: 1px solid #6699CC;
border-width: 1px;
margin: 0px;
padding: 1px;
border-right-width: 0px;
padding-left: 10px;
height: 20px;
vertical-align: middle;
text-align: left;

}

TD.headerRight {

background-color: #D6E2F5;
color: #333333;
font-family:     verdana, sans-serif;
font-size: 12px;
font-weight: bold;
border: 1px solid #6699CC;
border-width: 1px;
margin: 0px;
padding: 1px;

border-left-width: 0px;
padding-right: 10px;
height: 20px;
vertical-align: middle;
text-align: right;

}

TD.headerIconImage {


background-color: #D6E2F5;
color: #333333;
font-family: verdana, sans-serif;
font-size: 12px;
font-weight: bold;
border: 1px solid #6699CC;
border-width: 1px;
margin: 0px;
padding: 1px;
border-right-width: 0px;
padding-left: 5px;
height: 20px;
width: 20px;
vertical-align: middle;
text-align: left;

}

TD.headerIconLeft {


background-color: #D6E2F5;
color: #333333;
font-family: verdana, sans-serif;
font-size: 12px;
font-weight: bold;
border: 1px solid #6699CC;
border-width: 1px;
margin: 0px;
padding: 1px;
border-right-width: 0px;
border-left-width: 0px;
padding-left: 5px;
height: 20px;
vertical-align: middle;
text-align: left;

}

TD.headerIconRight {

background-color: #D6E2F5;
color: #333333;
font-family:     verdana, sans-serif;
font-size: 12px;
font-weight: bold;
border: 1px solid #6699CC;
border-width: 1px;
margin: 0px;
padding: 1px;

border-left-width: 0px;
padding-right: 10px;
height: 20px;
vertical-align: middle;
text-align: right;

}

P.pinkText {
	background-color: transparent;
	color: #FF0099;
}


TD.sideNav {

width: 150px;
background-color: #DCE6F7;
color: #333333;
font-family: verdana, sans-serif;
font-size: 11px;
border: 1px solid #FFFFFF;
border-top-width: 0px;
border-right-width: 0px;
border-left-width: 0px;

padding: 1px;
padding-left: 10px;
vertical-align: middle;
text-align: left;

}

TD.sideNavSubHeader {

width: 150px;
background-color: #ADD8E6;
color: #333333;
font-family: verdana, sans-serif;
font-size: 11px;
border: 1px solid #FFFFFF;
border-top-width: 0px;
border-right-width: 0px;
border-left-width: 0px;
font-weight: bold;
padding: 1px;
padding-left: 10px;
vertical-align: middle;
text-align: left;

}


.sideNavLink {

FONT-SIZE: 11px;
background-color: #DCE6F7;
COLOR: #333333;
text-decoration: none;

}


A.sideNavLink:link { COLOR: #333333; background-color: #DCE6F7; text-decoration: none}
A.sideNavLink:visited { COLOR: #333333; background-color: #DCE6F7; text-decoration: none}
A.sideNavLink:active { COLOR: #333333; background-color: #C4D6F1;  text-decoration: none }
A.sideNavLink:hover { COLOR: #000000; background-color: #DCE6F7; text-decoration: underline}

TD.sideNavActive {

width: 150px;
background-color: #C4D6F1;
color: #000000;
font-family: verdana, sans-serif;
font-size: 11px;
border: 1px solid #FFFFFF;
border-top-width: 0px;
border-right-width: 0px;
border-left-width: 0px;

padding: 1px;
padding-left: 10px;
vertical-align: middle;
text-align: left;

}

.sideNavActiveLink {

FONT-SIZE: 11px;
background-color: #C4D6F1;
COLOR: #000000;
text-decoration: none;

}


A.sideNavLinkActive:link { COLOR: #000000; background-color: #C4D6F1; text-decoration: none}
A.sideNavLinkActive:visited { COLOR: #000000; background-color: #C4D6F1; text-decoration: none}
A.sideNavLinkActive:active { COLOR: #000000; background-color: #C4D6F1;  text-decoration: none }
A.sideNavLinkActive:hover { COLOR: #000000; background-color: #C4D6F1; text-decoration: underline}

TD.sideNavHeading {

width: 150px;
background-color: #CCCCCC;
color: #333333;
font-family: verdana, sans-serif;
font-size: 11px;
font-weight: bold;
letter-spacing: 3px;
border: 1px solid #FFFFFF;
border-top-width: 0px;
border-right-width: 0px;
border-left-width: 0px;
text-transform: uppercase;

padding: 1px;
padding-left: 5px;
vertical-align: middle;
text-align: left;

}



TD.formTableRow {

COLOR: #000000;
FONT-SIZE: 11px;
background-color: #DDDDDD;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
margin: 0px;
text-align: left;
border: 1px solid #FFFFFF;
width: 550px;

}


TD.formTableLeft {

COLOR: #000000;
FONT-SIZE: 11px;
background-color: #DDDDDD;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 2px;
padding-left: 10px;
padding-right: 10px;
margin: 0px;
text-align: left;
border: 1px solid #FFFFFF;
width: 250px;

}

TD.formTableRight {

COLOR: #000000;
FONT-SIZE: 11px;
background-color: #DDDDDD;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 2px;
padding-left: 10px;
padding-right: 10px;
margin: 0px;
text-align: right;
border: 1px solid #FFFFFF;
width: 300px;

}

TD.formTableHeader {

COLOR: #000000;
FONT-SIZE: 12px;
background-color: #BBBBBB;
COLOR: #000000;
text-decoration: none;
font-weight: bold;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
margin: 0px;
text-align: left;
letter-spacing: 1px;
text-transform: uppercase;
border: 1px solid #FFFFFF;
width: 550px;

}

LI {

padding: 2px 0px 2px 2px; /* Note 0px padding right */
 }


TD.sideMenuTool1 {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #EEEEEE;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 2px;
padding-right: 2px;
margin: 0px;
text-align: center;
white-space: nowrap;

}

TD.sideMenuTool2 {

COLOR: #333333;
FONT-SIZE: 11px;
background-color: #FFFFFF;
COLOR: #000000;
text-decoration: none;
font-weight: none;
padding: 1px;
padding-left: 2px;
padding-right: 2px;
margin: 0px;
text-align: center;
white-space: nowrap;

}

img.image_border {

border-style: solid;
border-width: 3px, 3px, 3px, 3px;
border-color: #C4D6F1;

}

.aboutUsLink {

COLOR: #336699;
text-decoration: none;
font-size: 14px;
font-weight: bold;

}


A.aboutUsLink:link { COLOR: #336699; background-color: #ffffff; text-decoration: none}
A.aboutUsLink:visited { COLOR: #336699; background-color: #ffffff; text-decoration: none}
A.aboutUsLink:active { COLOR: #336699; background-color: #ffffff;  text-decoration: none }
A.aboutUsLink:hover { COLOR: #336699; background-color: #ffffff; text-decoration: underline}

TD.ServicesTable {
border: 1px solid #6699CC;
background-color: #ffffff;
text-align: center;
padding:3px;

}

TD.ServicesTableTop {
border: 1px solid #6699CC;
background-color: #ffffff;
text-align: center;
padding-bottom:10px;


}

TD.ServicesTableLeft {
border: 1px solid #6699CC;
background-color: #ffffff;
text-align: left;
padding:3px;


}

H1.form {
	align: left;
	font-size : 12px;
	}
	
TABLE.form {
	width: 600px;
	border-width : 0px 0px 0px 0px;
	background : #FFFFFF;
	}

TR.form_header {
	background: #CCC;
	border-width : 0px 0px 1px 0px; 
	}

TR.form_subtext {
	background: #EBEBEB;
	border-width : 0px 0px 1px 0px; 
	}
	
TD.form_desc	{
	width: 300px;
	padding: 2px 10px 2px 10px;
	border-width : 0px 0px 0px 0px;
	border-style : solid;
	border-color : #FFF;
	}
	
SPAN.form_header{
	font-weight : bold;
	align: left;
	font-size : 12px;
}


TR.selectedRow
{
	background-color: #FFFFCC;
}
TR.selectedDarkerRow
{
	background-color: #F0F0BB;
}
TR.greyRow
{
	background-color: #EEEEEE;
}
TR.whiteRow
{
	background-color: #FFFFFF;
}

TD.rightAlign
{
	padding: 1px;
	text-align: right;
	white-space: nowrap;
}


TD.leftAlign
{
	padding: 1px;
	text-align: left;
	white-space: nowrap;
}

TD.centerAlign
{
	padding: 1px;
	padding-left: 2px;
	text-align: center;
	white-space: nowrap;
}